.logo{
    height: 150px;
    width: 150px;
}

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter&display=swap');

#root{
    font-family: 'Bubblegum Sans', cursive;
/* font-family: 'Inter', sans-serif; */
}


.navbar-nav .nav-item {
    
    transition: 0.2s ease-in;
    
  }
  
  .navbar-nav .nav-item:hover {
   
    background-color: #ffc107;
    color: #000;
    border-radius: 10px;
  }