.logo{
    height: 150px;
    width: 150px;
}


.navbar-nav .nav-item {
    
    transition: 0.5s ease-in-out;
    
  }
  
  .navbar-nav .nav-item:hover {
   
    background-color: #ffc107;
    color: #000;
    border-radius: 10px;
  }